body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
    color: #222;
    font-family: arial,sans-serif;
    background-color: (255, 255, 255);
}

header
{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    color: #222;
}
header ul li
{
    display: inline-block;
    margin: 10px;
}

#apps
{
    opacity: .65;
    width: 25px;
    height: 25px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
    align-self: center;
    background-position: -132px -38px;
    vertical-align: middle;
}
#apps:hover
{
    opacity: .85;
    width: 25px;
    height: 25px;
}

#sign-in
{
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    font-size: 13px;
    color: white;
    font-family: arial,sans-serif;
    margin: 0px 5px 5px 5px;
    position: relative;
}
#sign-in:hover
{
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#main
{
margin-top: 200px !important;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

#logo
{
    clear: both;
    width: 100%;
    text-align: center; 
}

#search
{
    clear: both;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

#search-box
{
    background-color: transparent;
    border: 1px solid #c2b9b9;
    padding: 5px 8px 0px 16px;
    margin: 0px 0px 0px 0px;
    font: 16px arial,sans-serif;
    line-height: normal;
    line-height: 34px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 496px;
    position: relative;
}
#search-box:hover
{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
#search-box:focus
{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}

#search-buttons
{
    clear: both;
    margin-top: 30px;
}

.button
{
    border-radius: 2px;
    width: 140px;
    height: 40px;
    background-color: #f1f1f1;
    height: 36px;
    line-height: 27px;
    border: 1px solid #f2f2f2;
    color: #757575;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    margin: 11px 4px;
    cursor: pointer;
    font-family: arial,sans-serif;  
}
.button:hover
{
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

footer
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #d1d1d1;
    text-align: right;
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 0px;
    font-size: 10pt;
}
footer ul li
{
    display: inline-block;
    margin: 0px important!;
    padding-left: 30px;
    
}
#footer-left
{
    float: left;
    margin-left: -32px;
}
#footer-right
{
    float: right;
    margin-right: 30px;
}

header a
{
    text-decoration: none;
    font-size: 13px;
    color: rgb(63, 63, 63);
}
header a:hover
{
    text-decoration: underline;
}

footer a
{
    color: #5f6368;
    font-size: small;
    text-decoration: none;
}
footer a:hover
{
    text-decoration: underline;
}